.markdown-body .codehilite pre { line-height: 125%; }
.markdown-body .codehilite td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.markdown-body .codehilite span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.markdown-body .codehilite td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.markdown-body .codehilite span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.markdown-body .codehilite .hll { background-color: #2C3B41 }
.markdown-body .codehilite { background: #263238; color: #EFF }
.markdown-body .codehilite .c { color: #546E7A; font-style: italic } /* Comment */
.markdown-body .codehilite .err { color: #FF5370 } /* Error */
.markdown-body .codehilite .esc { color: #89DDFF } /* Escape */
.markdown-body .codehilite .g { color: #EFF } /* Generic */
.markdown-body .codehilite .k { color: #BB80B3 } /* Keyword */
.markdown-body .codehilite .l { color: #C3E88D } /* Literal */
.markdown-body .codehilite .n { color: #EFF } /* Name */
.markdown-body .codehilite .o { color: #89DDFF } /* Operator */
.markdown-body .codehilite .p { color: #89DDFF } /* Punctuation */
.markdown-body .codehilite .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
.markdown-body .codehilite .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.markdown-body .codehilite .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
.markdown-body .codehilite .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
.markdown-body .codehilite .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.markdown-body .codehilite .cs { color: #546E7A; font-style: italic } /* Comment.Special */
.markdown-body .codehilite .gd { color: #FF5370 } /* Generic.Deleted */
.markdown-body .codehilite .ge { color: #89DDFF } /* Generic.Emph */
.markdown-body .codehilite .ges { color: #FFCB6B } /* Generic.EmphStrong */
.markdown-body .codehilite .gr { color: #FF5370 } /* Generic.Error */
.markdown-body .codehilite .gh { color: #C3E88D } /* Generic.Heading */
.markdown-body .codehilite .gi { color: #C3E88D } /* Generic.Inserted */
.markdown-body .codehilite .go { color: #546E7A } /* Generic.Output */
.markdown-body .codehilite .gp { color: #FFCB6B } /* Generic.Prompt */
.markdown-body .codehilite .gs { color: #FF5370 } /* Generic.Strong */
.markdown-body .codehilite .gu { color: #89DDFF } /* Generic.Subheading */
.markdown-body .codehilite .gt { color: #FF5370 } /* Generic.Traceback */
.markdown-body .codehilite .kc { color: #89DDFF } /* Keyword.Constant */
.markdown-body .codehilite .kd { color: #BB80B3 } /* Keyword.Declaration */
.markdown-body .codehilite .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
.markdown-body .codehilite .kp { color: #89DDFF } /* Keyword.Pseudo */
.markdown-body .codehilite .kr { color: #BB80B3 } /* Keyword.Reserved */
.markdown-body .codehilite .kt { color: #BB80B3 } /* Keyword.Type */
.markdown-body .codehilite .ld { color: #C3E88D } /* Literal.Date */
.markdown-body .codehilite .m { color: #F78C6C } /* Literal.Number */
.markdown-body .codehilite .s { color: #C3E88D } /* Literal.String */
.markdown-body .codehilite .na { color: #BB80B3 } /* Name.Attribute */
.markdown-body .codehilite .nb { color: #82AAFF } /* Name.Builtin */
.markdown-body .codehilite .nc { color: #FFCB6B } /* Name.Class */
.markdown-body .codehilite .no { color: #EFF } /* Name.Constant */
.markdown-body .codehilite .nd { color: #82AAFF } /* Name.Decorator */
.markdown-body .codehilite .ni { color: #89DDFF } /* Name.Entity */
.markdown-body .codehilite .ne { color: #FFCB6B } /* Name.Exception */
.markdown-body .codehilite .nf { color: #82AAFF } /* Name.Function */
.markdown-body .codehilite .nl { color: #82AAFF } /* Name.Label */
.markdown-body .codehilite .nn { color: #FFCB6B } /* Name.Namespace */
.markdown-body .codehilite .nx { color: #EFF } /* Name.Other */
.markdown-body .codehilite .py { color: #FFCB6B } /* Name.Property */
.markdown-body .codehilite .nt { color: #FF5370 } /* Name.Tag */
.markdown-body .codehilite .nv { color: #89DDFF } /* Name.Variable */
.markdown-body .codehilite .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
.markdown-body .codehilite .pm { color: #89DDFF } /* Punctuation.Marker */
.markdown-body .codehilite .w { color: #EFF } /* Text.Whitespace */
.markdown-body .codehilite .mb { color: #F78C6C } /* Literal.Number.Bin */
.markdown-body .codehilite .mf { color: #F78C6C } /* Literal.Number.Float */
.markdown-body .codehilite .mh { color: #F78C6C } /* Literal.Number.Hex */
.markdown-body .codehilite .mi { color: #F78C6C } /* Literal.Number.Integer */
.markdown-body .codehilite .mo { color: #F78C6C } /* Literal.Number.Oct */
.markdown-body .codehilite .sa { color: #BB80B3 } /* Literal.String.Affix */
.markdown-body .codehilite .sb { color: #C3E88D } /* Literal.String.Backtick */
.markdown-body .codehilite .sc { color: #C3E88D } /* Literal.String.Char */
.markdown-body .codehilite .dl { color: #EFF } /* Literal.String.Delimiter */
.markdown-body .codehilite .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
.markdown-body .codehilite .s2 { color: #C3E88D } /* Literal.String.Double */
.markdown-body .codehilite .se { color: #EFF } /* Literal.String.Escape */
.markdown-body .codehilite .sh { color: #C3E88D } /* Literal.String.Heredoc */
.markdown-body .codehilite .si { color: #89DDFF } /* Literal.String.Interpol */
.markdown-body .codehilite .sx { color: #C3E88D } /* Literal.String.Other */
.markdown-body .codehilite .sr { color: #89DDFF } /* Literal.String.Regex */
.markdown-body .codehilite .s1 { color: #C3E88D } /* Literal.String.Single */
.markdown-body .codehilite .ss { color: #89DDFF } /* Literal.String.Symbol */
.markdown-body .codehilite .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
.markdown-body .codehilite .fm { color: #82AAFF } /* Name.Function.Magic */
.markdown-body .codehilite .vc { color: #89DDFF } /* Name.Variable.Class */
.markdown-body .codehilite .vg { color: #89DDFF } /* Name.Variable.Global */
.markdown-body .codehilite .vi { color: #89DDFF } /* Name.Variable.Instance */
.markdown-body .codehilite .vm { color: #82AAFF } /* Name.Variable.Magic */
.markdown-body .codehilite .il { color: #F78C6C } /* Literal.Number.Integer.Long */
